{% extends 'common/base.html' %}

{% block content %}
<div class="container">
<h1>Misszió</h1>
<p>A Gólya Közösségi Ház és Szövetkezeti Presszó társadalmi misszióval rendelkező szövetkezet, amelynek fő gazdasági tevékenységét a vendéglátás és ehhez kapcsolódó szolgáltatások alkotják.</p>
<p><b>VÍZIÓNK</b> egy olyan társadalom, aminek alapja a testvériség, és a fenntarthatóságát a hatalmat közösen birtokló, egymással szeretetben és elfogadásban élő emberek biztosítják.</p>
<b>CÉLJAINK:</b>
<p>A Gólya működésének alapja <b>a szövetkezet</b>, egy saját érzelmeinkből és értelmezésünkből felépülő, élő rendszer, ami a testvériség jegyében:</p>
<ul>
    <li>sajátos kelet-európai környezetében arra tanítja tagjait, hogy önállóan sajátítsanak el és teremtsenek tudást a közösség számára, melyet a közösen alkotott rendszerükben használnak fel.</li>
    <li>biztosítani kívánja a tagok közösségben is kielégíthető szükségleteit mint étkezés, szórakozás, iskoláztatás stb.</li>
    <li>a munkához mint teremtő erőhöz, gyümölcsöt hozó fához, és nem mint egy tőlünk idegen kényszerhez viszonyul – a tagok a tulajdonosok, kezükben a közvetlen termelés.</li>
    <li>a taggá válás feltétele a befektetett munka, az általunk termelt hasznot ennek arányában osztjuk szét.</li>
    <li>bár a Gólyának vannak alkalmazottai, előnyben részesítjük a tagi munkavégzést az alkalmazottival szemben. Ezért célunk, hogy minél több dolgozót vonjunk be a szövetkezeti lét életformájába.</li>
</ul>
<p>A Gólya elődje, a Frisco Kávézó szövetkezetének 2011-es alapításkor egy <b>befogadó közösségi és kulturális találkozópont</b> létrehozását tűztük ki célul. A Gólya víziójával egyetértő és az iránt érdeklődő, azt támogató embereknek, csoportoknak, szerveződéseknek és programoknak biztosítunk lehetőséget terembérlésre, nyitott események lebonyolítására.</p>
<p>A <b>közösségi házat</b> a <b>szomszédságunk összekötő pontjává</b> szeretnénk tenni. A kölcsönösség elve alapján szeretnénk együttműködéseket és szövetségeket létrehozni, közvetlen kapcsolatot építeni a körülöttünk élő emberekkel. Olyan kezdeményezéseknek szeretnénk helyet adni a Gólya bázisán, melyek résztvevőinek hasznos tudást is biztosítanak, valamint lehetőséget adnak az embereknek saját tudásuk átadására és véleményük megosztására. Célunk hogy helyben is létezzünk és ne csak a szubkultúránkban.</p>
<p>Mindezek mellett célunk, hogy a Gólya példaként segítse hasonló kezdeményezések kialakulását, illetve hogy együttműködjünk hasonló szervezetekkel, valamint közösségekkel; hálózatba szerveződve támogassuk egymást és a vízió terjedését.</p>
</div>
{% endblock content %}
