<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255,202,0);">
  <a class="navbar-brand" href="">Gólya Közösségi Ház és Szövetkezeti Presszó</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Főoldal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missziónk">Missziónk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/szövetségeseink">Szövetségeseink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kapcsolat">Kapcsolat</a>
      </li>
    </ul>
  </div>
</nav>